html, body, #root, .login-page {
  width: 100%;
  height: 100%;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  input {
    text-align: center;
  }
  .login-form-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    .login-form {
      width: 500px;
    }
  }
}